<a href="https://colab.research.google.com/github/ernestjx/BEAD2024/blob/main/colab/01_IntroductionToFunctionalProgramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functional Programming in Python
A function is a block of code which only runs when it is called.
You can pass data, known as parameters, into a function.
A function can return data as a result.

# Simple Function
In Python a function is defined using the def keyword:

In [ ]:
def greet():
  print("Hello World")
greet()

Hello World

To call a function, use the function name followed by parenthesis. Information can be passed into functions as arguments. Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (name).

The terms parameter and argument can be used for the same thing: information that are passed into a function.  A parameter is the variable listed inside the parentheses in the function definition. An argument is the value that is sent to the function when it is called.

In [ ]:
def greet(name):
  print(f"Hello {name}")
greet("Suria")
greet("Ravi")
greet("Vignesh")

Hello Suria
Hello Ravi
Hello Vignesh

One more example

In [ ]:
import math
def areaofcircle(radius):
    return math.pi * radius * radius
print(areaofcircle(10.0))

314.1592653589793

One line function, there is a short called lambda

In [ ]:
v = lambda x: print(x)

Rewriting area in functions:

In [ ]:
import math
circlearea = lambda radius : math.pi * radius * radius
print(circlearea(10.0))

314.1592653589793

Rewriting greet with arguments:

In [ ]:
def greet(name):
  return f"Hello {name}"
result = greet("Suria")
print(result)
# or even direct it to a file
file = open("result.txt", "w")
file.write(result)

Hello Suria

11

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:
def my_function(*lecturer):
  print("The youngest lecturer is " + lecturer[2])
my_function("Suria", "Venkat", "Liu Fan")

The youngest lecturer is Liu Fan

If the number of keyword arguments is unknown, add a double ** before the parameter name:

In [ ]:
def my_new_function(**lecturer):
  print("Her last name is " + lecturer["lname"])
my_new_function(fname = "Suria", lname = "Ravindran")

His last name is Ravindran

Works for all data types:

In [ ]:
def f(x):
  return 5 * x + 2
print(f(3))

17

# *Imperative* vs *Declarative* Style
Imperative code follows a step-by-step process. In the first iteration, we add 1 to the initial total (0) to get the new total (1). Then the loop runs again, adding the next number in our list to 1 to get the new total (3). And so on.

In [ ]:
# Calculate total in the list
total = 0
myList = [1,2,3,4,5]

# Create a for loop to add numbers in the list to the total
for x in myList:
     total += x
print(total)

15

Declarative style creates code structure that is more concise. It creates less external states. Instead of using a loop to iterate over our entire list, we’ve used the sum() method, which works.

In [ ]:
mylist = [1,2,3,4,5]

# set total to the sum of numbers in mylist
total = sum(mylist)
print(total)

15

# Pure Functions
Pure functions are a key concept in functional programming. A function is considered pure if it always returns the same output for the same set of inputs and does not produce side effects like modifying the input or any data outside of the function.

In [ ]:
def add(a, b):
    return a + b

def to_uppercase(string):
    return string.upper()

In [ ]:
print(to_uppercase("Hello Mars!"))

HELLO MARS!

Python also accepts **function recursion**, which means a defined function can call itself.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

In [ ]:
factorial(5)

120

# Sample Data Set
Let us have some data structures to play with.

Curly Braces {}:

* Dictionaries: They are used to define dictionaries. A dictionary in Python is a collection of key-value pairs. For example: my_dict = {'name': 'Alice', 'age': 30}
* Sets: They are also used to create sets, which are collections of unique elements. For example: my_set = {1, 2, 3}

Square Brackets []:

* Lists: Square brackets are used to define lists, which are ordered collections of items. For example: my_list = [1, 2, 3]
* Indexing and Slicing: They are also used for indexing and slicing strings, lists, and other sequence types.

Parentheses ():

* Tuples: Parentheses are used to create tuples, which are similar to lists but immutable (cannot be changed). For example: my_tuple = (1, 2, 3)
* Function Definition and Calls: They are used in the definition and invocation of functions. For example, defining a function: def my_function():, and calling a function: my_function()
* Order of Operations: In Python expressions, parentheses are used to dictate the order of operations, similar to their use in mathematics.
* Generator Expressions: They can also be used for generator expressions. For example: (x**2 for x in range(10))

In [6]:
# List of Dictionary
# Mutable data structure
scientist = [
    {'name':'Albert Einstein', 'born':1879, 'field':'physics'},
    {'name':'Marie Curie', 'born':1867, 'field':'chemistry'},
    {'name':'Isaac Newton', 'born':1642, 'field':'mathematics'},
    {'name':'Nikola Testla', 'born':1856, 'field':'electrical'},
    {'name':'Galileo Galilei', 'born':1609, 'field':'mathematics'},
    {'name':'Ada Lovelace', 'born':1815, 'field':'computer'}
]

In [7]:
scientist
# scientist[0]=

[{'name': 'Albert Einstein', 'born': 1879, 'field': 'physics'},
 {'name': 'Marie Curie', 'born': 1867, 'field': 'chemistry'},
 {'name': 'Isaac Newton', 'born': 1642, 'field': 'mathematics'},
 {'name': 'Nikola Testla', 'born': 1856, 'field': 'electrical'},
 {'name': 'Galileo Galilei', 'born': 1609, 'field': 'mathematics'},
 {'name': 'Ada Lovelace', 'born': 1815, 'field': 'computer'}]

In [8]:
import collections
Scientist = collections.namedtuple('Scientist', ['name','born','field', 'nobel'])
# Tuples
scientists = (
   Scientist(name='Albert Einstein',born=1879,field='physics', nobel=True),
   Scientist(name='Marie Curie',born=1867,field='chemistry',nobel=True),
   Scientist(name='Isaac Newton',born=1642,field='mathematics', nobel=False),
   Scientist(name='Nikola Testla',born=1856,field='electrical', nobel=False),
   Scientist(name='Galileo Galilei',born=1609,field='mathematics', nobel=False),
   Scientist(name='Ada Lovelace',born=1815,field='computer', nobel=False)
)

In [ ]:
print(scientists)

(Scientist(name='Albert Einstein', born=1879, field='physics', nobel=True), Scientist(name='Marie Curie', born=1867, field='chemistry', nobel=True), Scientist(name='Isaac Newton', born=1642, field='mathematics', nobel=False), Scientist(name='Nikola Testla', born=1856, field='electrical', nobel=False), Scientist(name='Galileo Galilei', born=1609, field='mathematics', nobel=False), Scientist(name='Ada Lovelace', born=1815, field='computer', nobel=False))

Frozen Set is immutable too.

In [9]:
def check_membership(frozen_set, element):
    return element in frozen_set

my_frozen_set = frozenset([1, 2, 3, 4])
print(check_membership(my_frozen_set, 3)) # Output: True

True

# Filter Function
The filter() function returns an iterator where the items are filtered through a function to test if the item is accepted or not.
filter(function, iterable)

In [10]:
#filter(lambda x: x.nobel is True, scientists)
tuple(filter(lambda x: x.nobel is True, scientists))

(Scientist(name='Albert Einstein', born=1879, field='physics', nobel=True),
 Scientist(name='Marie Curie', born=1867, field='chemistry', nobel=True))

In [ ]:
tuple(filter(lambda x: True, scientists))

(Scientist(name='Albert Einstein', born=1879, field='physics', nobel=True),
 Scientist(name='Marie Curie', born=1867, field='chemistry', nobel=True),
 Scientist(name='Isaac Newton', born=1642, field='mathematics', nobel=False),
 Scientist(name='Nikola Testla', born=1856, field='electrical', nobel=False),
 Scientist(name='Galileo Galilei', born=1609, field='mathematics', nobel=False),
 Scientist(name='Ada Lovelace', born=1815, field='computer', nobel=False))

In [ ]:
tuple(filter(lambda x: x.field =='mathematics', scientists))

(Scientist(name='Isaac Newton', born=1642, field='mathematics', nobel=False),
 Scientist(name='Galileo Galilei', born=1609, field='mathematics', nobel=False))

In [ ]:
tuple(filter(lambda x: x.field =='physics' and x.nobel is True, scientists))

(Scientist(name='Albert Einstein', born=1879, field='physics', nobel=True),)

In [ ]:
def nobel_filter(x):
   return x.nobel is True
tuple(filter(nobel_filter, scientists))

(Scientist(name='Albert Einstein', born=1879, field='physics', nobel=True),
 Scientist(name='Marie Curie', born=1867, field='chemistry', nobel=True))

# Map Function
The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.
map(function, iterables)

In [ ]:
print(scientists)

(Scientist(name='Albert Einstein', born=1879, field='physics', nobel=True), Scientist(name='Marie Curie', born=1867, field='chemistry', nobel=True), Scientist(name='Isaac Newton', born=1642, field='mathematics', nobel=False), Scientist(name='Nikola Testla', born=1856, field='electrical', nobel=False), Scientist(name='Galileo Galilei', born=1609, field='mathematics', nobel=False), Scientist(name='Ada Lovelace', born=1815, field='computer', nobel=False))

In [ ]:
name_and_ages = tuple(map(lambda x: {'name':x.name, 'age':2024 -x.born}, scientists))
print(name_and_ages)

({'name': 'Albert Einstein', 'age': 145}, {'name': 'Marie Curie', 'age': 157}, {'name': 'Isaac Newton', 'age': 382}, {'name': 'Nikola Testla', 'age': 168}, {'name': 'Galileo Galilei', 'age': 415}, {'name': 'Ada Lovelace', 'age': 209})

In [ ]:
tuple({'name':x.name, 'age':2023 -x.born} for x in scientists)

({'name': 'Albert Einstein', 'age': 144},
 {'name': 'Marie Curie', 'age': 156},
 {'name': 'Isaac Newton', 'age': 381},
 {'name': 'Nikola Testla', 'age': 167},
 {'name': 'Galileo Galilei', 'age': 414},
 {'name': 'Ada Lovelace', 'age': 208})

In [ ]:
tuple({'name':x.name.upper(), 'age':2023 -x.born} for x in scientists)

({'name': 'ALBERT EINSTEIN', 'age': 144},
 {'name': 'MARIE CURIE', 'age': 156},
 {'name': 'ISAAC NEWTON', 'age': 381},
 {'name': 'NIKOLA TESTLA', 'age': 167},
 {'name': 'GALILEO GALILEI', 'age': 414},
 {'name': 'ADA LOVELACE', 'age': 208})

In [ ]:
def square(number):
     return number ** 2
numbers = [1, 2, 3, 4, 5]
squared = map(square, numbers)
print(list(squared))
# Output [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

# Reduce Function

Python’s reduce() is a function that implements a mathematical technique called folding or reduction. reduce() is useful when you need to apply a function to an iterable and reduce it to a single cumulative value.

The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

In [ ]:
from functools import reduce
# calculates the product of two elements
def product(x,y):
    return x*y
print(reduce(product, [2, 5, 3, 7]))
# Output 210

210

In [ ]:
print(name_and_ages)
from functools import reduce
total_age = reduce ( lambda acc, val: acc + val['age'], name_and_ages, 0)
print(total_age)

({'name': 'Albert Einstein', 'age': 144}, {'name': 'Marie Curie', 'age': 156}, {'name': 'Isaac Newton', 'age': 381}, {'name': 'Nikola Testla', 'age': 167}, {'name': 'Galileo Galilei', 'age': 414}, {'name': 'Ada Lovelace', 'age': 208})
1470

In [ ]:
def reducer(acc, val):
  acc[val.field].append(val.name)
  return acc
scientist_by_field = reduce(reducer, scientists,
                            {'physics' : [],'chemistry' : [],'mathematics' : [],'electrical' : [],'computer' : []} )
print(scientist_by_field)

{'physics': ['Albert Einstein'], 'chemistry': ['Marie Curie'], 'mathematics': ['Isaac Newton', 'Galileo Galilei'], 'electrical': ['Nikola Testla'], 'computer': ['Ada Lovelace']}

Alternative is to use library function defaultdict()

In [ ]:
def reducer(acc, val):
  acc[val.field].append(val.name)
  return acc
scientist_by_field = reduce(reducer, scientists, collections.defaultdict(list))
print(scientist_by_field)

defaultdict(<class 'list'>, {'physics': ['Albert Einstein'], 'chemistry': ['Marie Curie'], 'mathematics': ['Isaac Newton', 'Galileo Galilei'], 'electrical': ['Nikola Testla'], 'computer': ['Ada Lovelace']})

There is also help from itertools library.

In [ ]:
import itertools
scientist_by_field_iter = {
    item[0]: list(item[1])
    for item in itertools.groupby(scientists, lambda x: x.field)
}
print(scientist_by_field_iter)

{'physics': [Scientist(name='Albert Einstein', born=1879, field='physics', nobel=True)], 'chemistry': [Scientist(name='Marie Curie', born=1867, field='chemistry', nobel=True)], 'mathematics': [Scientist(name='Galileo Galilei', born=1609, field='mathematics', nobel=False)], 'electrical': [Scientist(name='Nikola Testla', born=1856, field='electrical', nobel=False)], 'computer': [Scientist(name='Ada Lovelace', born=1815, field='computer', nobel=False)]}

# Functional Closure
A closure is a technique where a function "remembers" the environment in which it was created.

In [ ]:
def power_generator(n):
    def nth_power(x):
        return x ** n
    return nth_power
square = power_generator(2)
cube = power_generator(3)

print(square(4))  # Output: 16
print(cube(4))   # Output: 64

# Decorator
This is simlar to OOP Annotations we discussed.

In [ ]:
# Decorator
import time

def timer(func):
    def wrapper(*args, **kwargs):
        start = time.time()
        result = func(*args, **kwargs)
        end = time.time()
        print(f"{func.__name__} took {end - start} seconds")
        return result
    return wrapper

@timer
def slow_function():
    time.sleep(2)

slow_function()  # Output: slow_function took 2.0001144409179688 seconds

slow_function took 2.003222942352295 seconds

# Functional Composition
Functional composition is the act of combining simple functions to build more complicated ones.
This compositional approach promotes code reuse, modularity, and readability.

In [ ]:
def compose(f, g):
    return lambda x: f(g(x))

def add_five(x):
    return x + 5

def multiply_by_three(x):
    return x * 3

# (5 * 3) + 5
combined_function = compose(add_five, multiply_by_three)
print(combined_function(5))  # Output: 20

# Functional Currying
Currying is the technique of transforming a function that takes multiple arguments into a sequence of functions that each take a single argument.

In [ ]:
from functools import partial

def multiply(x, y):
    return x * y

# Create a new function that multiplies by 2
double = partial(multiply, 2)

print(double(5))  # Output: 10

10

Each of these examples demonstrates an advanced functional programming technique in Python. These techniques enable writing more modular, concise, and reusable code, which is particularly useful in large and complex software projects.

These examples should give us a good understanding of functions work in Python.

Thanks for the patient listening.

Please try the subsequent workshops and have fun with generator and iterator libraries.

End of demonstration. 🙏